body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.content {
    padding: 20px;
    text-align: center;
}

img {
    width: 250px;
    margin-top: 20px;
    border-radius: 10px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}
