name: CI/CD - Build Docker + Push + Deploy to Render with Terraform

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: syedmrawet/project1:latest

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.0

      - name: Terraform Init
        run: terraform init
        env:
          TF_VAR_render_api_key: ${{ secrets.RENDER_API_KEY }}

      - name: Terraform Plan
        run: terraform plan -out=plan.tfout
        env:
          TF_VAR_render_api_key: ${{ secrets.RENDER_API_KEY }}

      - name: Terraform Apply (only on push to main)
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve plan.tfout
        env:
          TF_VAR_render_api_key: ${{ secrets.RENDER_API_KEY }}
